.gcloudignore
.git
.gitignore
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.DS_Store
.env
# Keep weights in deployment
# yolov8n.pt
# fire_best.pt
backend/venv/
frontend/
models/
